    <!-- About Section -->
    <section id="about" class="container home-section text-center">
      <div class="heading-about">
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <div data-wow-delay="0.4s" class="wow bounceInDown">
                          <div class="section-heading">
                              <h2>{{ page.about.title }}</h2>
                              <i class="fa fa-2x fa-angle-down"></i>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/>

              {% for text in page.about.texts %}
                <br/>
                <p>{{ text.text }}</p>
                <br/>
              {% endfor %}

            </div>
        </div>
      </div>
    </section>
